body{
    font:Arial;
}

#heading{
    color:brown;
    text-align: center;
}
.product{
    height:40px;
    padding-left: 8px;
    border:1px solid black;
    border-radius:3px;
    width: 200px;
}
.calender{
    height:40px;
    padding-left: 8px;
    border:1px solid black;
    border-radius:3px;
    width:150px;
    padding-right:5px;
}

.addbutton{
    background-color: rgb(3, 116, 3);
    color:white;
    border-radius:5px;
    height:40px;
    width:100px;
}
.mainsection{
    margin: 50px;
}

.todo-item {
    display: grid;
    grid-template-columns: 210px 153px 100px;
    column-gap:10px;
    row-gap:10px;
    margin-top:20px;
    align-items:center;
}

.btn-delete{
    background-color: rgb(85, 22, 22);
    color:white;
    border: none;
    border-radius:10px;
    padding: 15px 0px;
    cursor:pointer;
}

